@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family:'Montserrat';
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* main
{
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width:1920) {
  main
  {
    margin: 0 auto;
  }
} */